.contacts{
	text-align:center;
	line-height:0.8;
	font-weight:bold;
	
	position: absolute;	
	top:40%;
	left:50%;	
	-moz-transform:translateX(-50%) translateY(-50%);
	-o-transform:translateX(-50%)  translateY(-50%);
	-webkit-transform:translateX(-50%)  translateY(-50%);
	transform:translateX(-50%)  translateY(-50%);
}

.contacts h1{font-size:30px;}
.contacts h2{font-size:45px;}
.contacts h3{font-size:25px;}
.contacts h4{font-size:15px;}
.contacts a{display:block;}

#topdesign{
	height:40%;
	width:15%;
	min-width:50px;
	max-width:70px;
	background:#00a99d;
	
	position:relative;
	top:0;
	left:50%;
	transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-o-transform:translateX(-50%);	
}

#centerdesign{	
	width:30%;
	height:auto;
	min-width:180px;
	max-width:250px;
	background:#00a99d;
	border-radius:50%;
	border-top:3px solid #247878;
	
	position:absolute;
	top:40%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-webkit-transform:translateX(-50%) translateY(-50%);
	-o-transform:translateX(-50%) translateY(-50%);
}

#backgroundstripest{
	position:absolute;
	top:0;
	transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
}

#bottombar{
	position:absolute;
	bottom:0;
	width:100%;
	text-align:center;
	font-size:10px;
	height:30px;
}

#bottomtable{	
	max-width:400px;
	min-width:300px;
	width:100%;
	
	position:absolute;
	bottom:50px;
	left:50%;
	transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	display:none;
}
	
@media only screen and (min-height: 480px) {
	#bottomtable{
		display:table;
	}
	.contacts a{
		display:none;
}
}

.bottomrow{
	display:table-row;}
.bottomcell{	
	display:table-cell;
	padding:0 3%;
	text-align:justify;
}
.info{max-width:200px;border-right:1px solid #666;}
.bottomcell td img{max-width:20px;height:auto;}
.bottomcell table{margin:0 auto;width:100px;}
.bottomcell td{vertical-align:middle;}