.aboutme{
	max-width:500px;
	width:90%;
	position:relative;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

#toppic{
	width:100%;
}

#toppic img{
	width:25%;
	height:auto;
	border-radius:50%;
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

#info{
	width:100%;	
	text-align:justify;
	padding:25px 0;
}

#socialbox{
	padding:10px 0;
	display:none;
}

@media only screen and (min-height: 510px) {

#socialbox{
	display:block;
}

}

#socialbox table{		
	border-spacing:10px;
	border-collapse:separate;
	border-bottom:1px solid gray;
	border-top:1px solid gray;
}

#socialbox th img{
	min-width:40px;
	width:99%;
	height:auto;
	vertical-align:middle;
	
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#socialbox th img:hover{
	border-radius:50%;
	//z-index: 9999;
	
}

#init {	
	position:absolute;
	height:80px;
	width:360px;
	
	bottom:0px;
	left:50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	
  	display:none;
}

#born{
 	width: 42px;
  	height: 42px;
  	border: 10px solid #00a99d;
	background:white;
	border-radius:50%;
}

#line{
	background:white;
	height:49px;
	width: 14px;
	position: absolute;
	bottom: 0;
	left: 13px;
	border-left:5px solid #00a99d;
	border-right:5px solid #00a99d;
}

#divisionfloor2{
	background:#00a99d;
	border-top:10px solid #247878;
}

@media only screen and (min-width: 780px) {

#init {
	width:100%;
}

#line{
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	overflow:hidden;
}

#born{
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
}

@media only screen and (min-height: 580px) {

#init {
	display:block;
}
}
