.skills{
	
	height:100%;
	
	background-image:url(../img/background.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	
}

.tablecontainer{
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#table {	
	display:table;
	height:350px;
	width:350px;
	color:white;
	
}
.row {
	display: table-row;
	height:50%;
}

.cell {
	position:relative;
	width:50%;
	display: table-cell;
	
}

.A,.B,.G,.H {
	background:#00a99d;
	border:15px solid #247878;
	color:#247878;
}

.C,.D,.E,.F {	
	background:#247878;
	border:15px solid #00a99d;
	color:#00a99d;
}

.cell img{
	height:80px;
	
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.B, .D, .F, .H{
	display: none;
}

.A, .C, .E, .G{
	vertical-align:middle;
	text-align: center;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.A:hover,.G:hover{
	background:#247878;
}


.C:hover,.E:hover{
	background:#00a99d;
}

.backlettering{	
	font-weight:bold;
	line-height:1;
	font-size:10px;
}

#pc{	
	position:absolute;
	top:2px;
	left:2px;
}

#code{
	position:absolute;
	top:2px;
	right:2px;
}

#design{
	position:absolute;
	bottom:2px;
	left:2px;
}
	
#languages{	
	position:absolute;
	bottom:2px;
	right:2px;
}

#skilllist{
	top:50%;
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	
	position:absolute;
	overflow:hidden;
	padding:10px;
	text-align:center;
	font-size:12px;
	z-index: 10;
	
}