.bxslider figure img {
	margin: 0 auto;
	max-width: 100%;
	display: block;
	position: relative;
}

.bxslider figcaption {
	display:table-row;
	position: relative;
	background: #2c3f52;
	text-align:justify;
}

.bxslider figcaption h3 {
	height:50px;
	padding:10px;
	color: #fff;
	font-size:12px;
}

.bxslider figcaption span {
	color: #ed4e6e;
	font-size:10px;
}