.portfolio{
	width:95%;
	background:#247878;
	position:relative;
	top:50%;
	left:50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	text-align:center;
}

.portfolio figure{
	margin:0 auto;
	max-width:500px;
	border-left:5px solid #247878;
	border-right:5px solid #247878;
}

.portfolio figure img {
	display:block;
	width: 100%;
	
	height:auto;
	position: relative;
}

.portfolio figcaption {
	//width:100%;
	background: #2c3f52;
}

.portfolio figcaption h3 {
	height:50px;
	padding:10px;
	color: #fff;
	font-size:12px;
}

.portfolio figcaption span {
	color: #ed4e6e;
	font-size:10px;
}

.direction{
	height:40px;
	width:40px;
	cursor:pointer;
	opacity:0.4;
	
	position:absolute;
	z-index:10;
	top:50%;
	transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);	
}

.direction:hover{opacity:0.6;}

.left{
	background:url(../img/left1.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	left:8%;	
}

.right{
	background:url(../img/right1.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	right:8%
	
	
}

.backstripe{
	height:40%;
	width:50%;
	position:absolute;
	top:50%;
	
	transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);	
	
	background:#333;}
.backleft{
	left:0;}
.backright{
	right:0;}
.backboth{	
	width:100%;}