.instafeed{border:2px solid red;}
/*.portfolio{
	position: absolute;
	//width:480px;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}*/

.grid {
	position: absolute;
	top: 50%;
	left: 50%;
	
	width:auto;
	max-width: 1300px;
	
	margin: 0 auto;
	list-style: none;
	
	text-align: center;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	
	background:#247878;
	padding:10px;
}

.grid li {
	display: inline-block;
	width: 32%;
	margin: 0;
	text-align: left;
	position: relative;
	padding:5px;
}

.grid figure {
	//width:100%;
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 20px;
	background: #2c3f52;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size:12px;
	line-height:0.4;
}

.grid figcaption span {
	margin: 0;
	padding: 0;
	color: #ed4e6e;
	font-size:10px;
	line-height:0.2;
}

/*STYLING*/

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	transform: translateY(-20px);
}

.cs-style-3 figcaption {
	height: 40px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

@media screen and (max-width: 31.5em) {
	.grid li {
		width: 48%;
	}
}