.contacts{
	max-width:650px;
	position: relative;
	width:90%;
	
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.box{
	height:50%;
	width:100%;
	text-align:center;
	color:white;
	line-height:0.8;
	font-weight:bold;
}

.box h1{
	font-size:35px;
}
.box h2{
	font-size:60px;
}

.social_box{
	height:50%;
}

.social_box table{
	border-spacing:10px;
	border-collapse:separate;
	border-bottom:1px solid #666;
	border-top:1px solid #666;
	width:100%;
}

.social_box th img{
	width:99%;
	height:auto;
	vertical-align:middle;
	min-width:40px;
	
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social_box th img:hover{
	border-radius:50%;
	
}