.cover{
	display:table;
	position:absolute;
	top: 50%;
	left: 50%;
	
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	
	width:330px;
	height:150px;
	z-index:10;
	
}

.logo{
	display:table-cell;
	height:150px;
	float:left;
	width:130px;
}

.logo img{
	max-width:100%;
	height:auto;
}

.name{
	display:table-cell;
	width:200px;
	float:right;
	padding:10px 0;
}

.name h1{
	font-size: 46px;
	font-family:"Courier New", Courier, monospace;
	line-height:0.8;
}

.name h2{
	font-size: 12px;
	font-family:Tahoma, Geneva, sans-serif;
	padding-left:5px;
}

#scroll{
	position:absolute;
	bottom:-70px;
	left:50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	height:120px;
	width:120px;
	background:white;
	border-radius:100%;
	text-align:center;
	padding-top:15px;
	font-size:10px;
	line-height:1;
	color:#333;
	display:none;
}

#divisionfloor1{
	background:white;
	border-top:10px solid #00a99d;
}

@media only screen and (min-height: 240px) {
	#scroll {display:block;}
}

#instatiles {
	position:absolute;
	top:0;
	display: table;
	height:100%;
	width:100%;
}
.instarow {
	display: table-row;
}
.instacell {
	display: table-cell;
	background-position: 0 0;
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
}
#instagram{
	height:50px;
	width:131px;
	position: absolute;
	top: 0px;
	left:50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/*
 * Animation for webkit
*/
@-webkit-keyframes bounce {
    30%, 50%, 70% {-webkit-transform: translateY(0) translateX(-50%);}
    20% {-webkit-transform: translateY(-10px) translateX(-50%);}
    40% {-webkit-transform: translateY(-10px) translateX(-50%);}
    60% {-webkit-transform: translateY(-10px) translateX(-50%);}
    80% {-webkit-transform: translateY(-10px) translateX(-50%);}
}
 
@keyframes bounce {
    30%, 50%, 70% {transform: translateY(0) translateX(-50%);}
    20% {transform: translateY(-10px) translateX(-50%);}
    40% {transform: translateY(-10px) translateX(-50%);}
    60% {transform: translateY(-10px) translateX(-50%);}
    80% {transform: translateY(-10px) translateX(-50%);}
}
 
/*
 * Adding the animation to our element
*/
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}


