.skills{
	
	height:100%;
	
	background-image:url(../img/background2.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	
}

.tablecontainer{
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#table {
	//-webkit-transform: rotate(-45deg); 
   // -moz-transform: rotate(-45deg);  
   // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); 
	//-o-transform: rotate(-45deg);
	//-webkit-backface-visibility: hidden;
	display:table;
	height:350px;
	width:350px;
	color:white;
}
.row {
	display: table-row;
	height:50%;
}

.cell {
	width:50%;
	display: table-cell;
	vertical-align:middle;
	
}

.A, .G{
	background: #EB5D45;
}
.C, .E{
	background:#4452a4;
}

.A,.B,.G,.H {
    border:20px solid #4452a4;	
}

.C,.D,.E,.F {
    border:20px solid #EB5D45;
}

.cell img{
	height:80px;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	
	//-webkit-transform: rotate(45deg); 
   // -moz-transform: rotate(45deg);  
   // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); 
	//-o-transform: rotate(45deg);
}

.cell:hover img{
	height:100px;
	
	//-webkit-transform: rotate(45deg); 
   // -moz-transform: rotate(45deg);  
   // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); 
	//-o-transform: rotate(45deg);
}

.skilltable{
	display:table;
	height:100%;
	width:100%;
	border-spacing:3px;
}

.celltop{
	display:table-cell;
	width:20px;
	padding-top:5px;
}

.celltop h1{
	font-size:11px;
	width:20px;
	-webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); 
	-o-transform: rotate(90deg);
}
.cellskilllist{
	display:table-cell;
	width:auto;
	vertical-align:middle;
	padding:10px;
}

.B .celltop, .B .cellskilllist, .H .celltop, .H .cellskilllist{
	background:#4452a4;
}

.D .celltop, .D .cellskilllist, .F .celltop, .F .cellskilllist{
	background:#EB5D45;
}

.B, .D, .F, .H{
	display: none;
	//background: white;
}

.A,.B{
	border-top:20px solid #EB5D45}
.C,.D{
	border-right:20px solid #4452a4}
.E,.F{
	border-left:20px solid #4452a4}
.G,.H{
	border-bottom:20px solid #EB5D45}

.B,.H{
	background:#EB5D45;}
.D,.F{
	background:#4452a4;}

.A, .C, .E, .G{
	vertical-align:middle;
	text-align: center;
}

/*.A:hover img,.G:hover img{
	-webkit-transform: rotate(0deg); 
    -moz-transform: rotate(0deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); 
	-o-transform: rotate(0deg);
}


.C:hover img,.E:hover img{
	-webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); 
	-o-transform: rotate(90deg);
}*/