.aboutme{
	max-width:460px;
	width:90%;
	
	position:relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
}

#info{	
	text-align:justify;
}
#info img{
	width:25%;
	height:auto;
	border-radius:50%;
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

#socialbox{
	display:none;
	width:90%;
	margin: 0 auto;
}

@media only screen and (min-height: 510px) {

#socialbox{
	display:block;
}

}

#socialbox table{
	border-spacing:10px;
	border-collapse:separate;
	border-bottom:1px solid gray;
	border-top:1px solid gray;
}

#socialbox th img{
	width:99%;
	height:auto;
	vertical-align:middle;
	
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#socialbox th img:hover{
	border-radius:50%;	
}



#init {	
	position:absolute;
	height:62px;
	width:420px;
	display:none;
	
	bottom:0px;
	left:50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

#born{
 	width: 32px;
  	height: 32px;
	margin-left:4px;
  	border: 8px solid #00a99d;
	background:white;
	border-radius:50%;
}

#line{
	background:white;
	height:39px;
	width: 13px;
	position: absolute;
	bottom: 0;
	left: 14px;
	border-left:5px solid #00a99d;
	border-right:5px solid #00a99d;
}

#divisionfloor2{
	background:#00a99d;
	border-top:10px solid #247878;
	display:none;
}

@media only screen and (min-width: 780px) {

#init {
	max-width:100%;
}

#line{
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	overflow:hidden;
}

#born{
	position:relative;
	left: 50%;
	margin:0;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
}

@media only screen and (min-width: 420px) and (min-height: 540px)  {
#init {
	display:block;
}
#divisionfloor2{
	display:block;
}
}
