ul {	
	list-style: none;
}

li a {
	min-height:40px;
	min-width:40px;
	max-height:60px;
	max-width:60px;
	padding-top:40%;
	padding-bottom:40%;
	//margin-bottom:5px;
	color: white;
	background-color:#222222;
	font-size:0.8em;
	display:block;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	
}

.links-to-floor li {border-bottom:2px solid #333;}

li:last-child{border:0;}
li:first-child{border:0;}

.navCollapsed {
	padding:10px;
	min-height:40px;
	min-width:40px;
	max-height:60px;
	max-width:60px;	
	background-color:#333;
}

.list{
	display:none;
}

.navCollapsed img{
	width:100%;
	height:auto;
}

li a:hover{
	cursor:pointer;
	background:#fefefe;
}

.links-to-floor{
	//display:block;
	min-width:50px;
	max-width:70px;
	//padding-top:5px;
	
	position: absolute;
	top:5px;
	right:5px;
	
	text-align:center;
	
	//background:rgba(255,255,255,0.4);
	
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	//display:block;
}

.selected a{
	background:#4452a4;
}

.selected a:hover{
	color: white;
	background:#4452a4;
}
