/*ul {	
	list-style: none;
}

li a {
	color: white;
	background-color:#222222;
	font-size:0.8em;
	display:none;
	//padding-top:40%;
	//padding-bottom:40%;
	//margin-bottom:5px;
	width:60px;
	height:0px;
	line-height:10px;
	
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.list {
	display:inline-block;
	
}

.navCollapsed {
	display: inline-block;
	//min-height:50px;
	//min-width:50px;
	//margin-bottom:5px;
	width:60px;
	height:60px;
	background-color:#303030;
}

.navCollapsed img{
	width:100%;
}

li a:hover{
	cursor:pointer;
	background:#fefefe;
}

.links-to-floor{
	position: absolute;
	top:5px;
	right:5px;
	
	//min-width:60px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	background:rgba(255,255,255,0.4);
	
	display:block;	
	width:70px;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.selected a{
	background:#4452a4;
}

.selected a:hover{
	color: white;
	background:#4452a4;
}*/
